/* root variables */
:root {
  --navbar-color: #ffffff;
  --icon-color: #000000;
  --icon-color-active: #0e6ba8;
}

/* Navigation Bar Styles */
.NavBar {
  background-color: var(--navbar-color);
}

/* Navigation Elements Styles */
.NavLink {
  color: #000000;
  text-decoration: none;
  font-size: 1.2rem;
  font-family: "Montserrat", Helvetica, sans-serif;
}

/* Navigation Elements Hover Styles */
.NavLink:hover {
  color: #000000;
  opacity: 0.5;
  transition-property: opacity, background-color, border-color;
  transition-duration: 0.15s, 0.15s, 0.15s;
  transition-timing-function: ease-in-out, ease-in-out, ease-in-out;
  transition-delay: 0s, 0s, 0s;
  cursor: pointer;
}

.NavLink:hover p {
  text-decoration: underline;
}

/* Icon Style for Smaller Viewports*/
.NavMobileIcon i {
  font-size: 2rem;
  color: var(--icon-color)
}

.NavMobileIcon p {
  font-size: 0.8rem;
}

/* Icon Style for Larger Viewports */
.NavIcon i {
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--icon-color);
}

/* Style for the Navigation Bar Brand Text */
.BrandText {
  font-size: 1.5rem;
  font-family: "Montserrat", Helvetica, sans-serif;
}

/* Active Link Styles */
.Active i,
img {
  color: var(--icon-color-active);
}

.Active p {
  text-decoration: underline;
}