:root {
  --secondary-text-color: #525252;
}

.PropertyHeadingFont {
  font-family: "Montserrat", Helvetica, sans-serif;
}

.Heading {
  font-size: 1.6rem;
}

.SubHeading {
  font-size: 1.2rem;
  color: var(--secondary-text-color);
}

.Price {
  font-size: 1.6rem;
}

.QuickInfo {
  font-size: 1.2rem;
  color: var(--secondary-text-color);
}

.CursorNotAllowed {
  cursor: not-allowed;
}

.CursorPointer {
  cursor: pointer;
}

.PropertyImage {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.Map {
  height: 350px;
  width: 100%;
}

/* Media Queries */
@media (max-width: 576px) {
  .PropertyHeadingFont {
    font-family: "Lato", Helvetica, sans-serif;
  }

  .Heading {
    font-size: 1rem;
  }

  .Price {
    font-size: 1.4rem;
  }

  .SubHeading {
    font-size: 1rem
  }

  .QuickInfo {
    font-size: 1rem;
  }
}