* {
  box-sizing: border-box;
}

.Main {
  padding-top: 85px;
}

.App {
  font-family: "Lato", Helvetica, sans-serif;
  min-height: 100vh;
  background-color: #dfdfdf;
}

.App h1,
h2,
h3,
h4 {
  font-family: "Montserrat", Helvetica, sans-serif;
}